#index {
    padding: 20px;              /* 余白指定 */
    background-color:  #ddd;    /* 背景色指定 */
    height: 300px;              /* 高さ指定 */
    width: 640px;               /* 幅指定 */
    position: relative;         /* 位置指定の基準点にする */
     position: absolute;          /* 位置指定 */
     padding: 20px;               /* 余白指定 */
     top:  0;                     /* 位置指定 */
     bottom:  0;                  /* 位置指定 */
     left:  0;                    /* 位置指定 */
     right:  0;                   /* 位置指定 */
     margin:  auto;               /* 中央寄せ */
     width:  150px;               /* 幅指定 */
     height: 80px;                /* 高さ指定 */
}

main {
    min-height:100vh;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

